body {
  font-family: "Noto Sans KR", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  width: 90%;
}

table {
  /* width: 400px; */
  margin: 20px 0px;
}
th,
td,
input {
  text-align: center;
  margin: auto;
}
th {
  color: rgba(28, 64, 121);
}

input {
  width: 100%;
}

.app-container {
  width: 1300px;
  margin: 40px auto;
}

textarea:read-only {
  width: 100%;

  overflow: hidden;
  border: none;
  /* resize: none; */
}
textarea:focus {
  outline: none;
}

hr {
  margin: 30px 0px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.table-header {
  margin: 40px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}

.editBtn {
  position: fixed;
  bottom: 60px;
  right: 100px;
}

@media print {
  #noprint {
    display: none;
  }
}
