body {
  font-family: "Noto Sans KR", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  width: 90%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 90%;
}

td,
input {
  text-align: center;
}
